.button-color{
    background-color: #B331CB;
    color: #FFF;
    border: 1px solid #CACCCF;
    padding: .5rem;
    &__close{
        background-color: #200A48;
        margin: .5rem 0;
        width: 100%;
        box-sizing: border-box;
    }
}

.button-menu{
    background-color: transparent;
    border: none;
    margin: auto 0 auto auto;
    z-index: 1;
    position: relative;
    img{
        width: 50px;
    }
    @media (min-width: 768px){
        display: none;
    }
}

.button-modal-close{
    background-color: transparent;
    border: none;
    position: absolute;
    right: -20px;
    top: -35px;
    img{
        width: 50px;
    }
}