header{
    background-color: #F9F9FA;
    padding: 15px;
    a{
        text-decoration: none;
    }
    .avatar{
        background-image: url(../img/avatar.svg);
        border: none;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }
    @media(min-width: 768px){
        a{
            float: right;
        }
    }
}