.projects{
    padding: 1rem;
    h1{
        margin: 1rem 0;
    }
    .projects-toogle{
        margin: 1rem 0;
        border-bottom: 1px solid gray;
        display: block;
        padding-bottom: 3px;
        span{
            &:not(:last-child){
                margin-right: 1rem;
            }
        }
        &_active{
            border-bottom: 2px solid #200a48;
        }
    }
}