.projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    .button{
        float: right;
    }
    h1{
        margin: 1rem 0;
    }
    &-toogle{
        margin: 1rem 0;
        border-bottom: 1px solid gray;
        display: block;
        padding-bottom: 3px;
        span{
            &:not(:last-child){
                margin-right: 1rem;
            }
        }
        &_active{
            border-bottom: 2px solid #6f48b3;
        }
        &__current{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    &-header{
        grid-column: 1 / -1;
    }
    &-body{
        grid-column: 1/-1;
        display: grid;
        grid-gap: 1rem;
    }
}